<div class="bg-img">
    <div class="container">       
        <div class="card centerPlusMTop contentBox" style="width: 70%;"> 
            <div class="card-body">
                <div class='row'>
                    <h5 class="card-title col">{{post["username"]}}</h5>
                    <i class="fas fa-pencil-alt" id="editButton" title='edit post'></i>
                    <button id='deleteButton' (click)='deletePost(post)' title='Delete this post?'>
                        <p class='deletePost col'>X</p>
                    </button>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">{{today | date:'shortDate'}} at {{today | date:'shortTime'}}</h6>
                <p class="card-text">{{post["postText"]}}</p>
                <div *ngIf='retrievedImage'>
                    <img [src]="retrievedImage">
                </div>
                <div class='row'>
                    <div class='triangle-up' title='upvote' (click)='upvotePost(post)'> </div>
                    <div class='triangle-down' title='downvote' (click)='downvotePost(post)'></div>   
                </div>
                <div class="row">
                    <p id='voteNum1'>{{post["upvote"]}}</p>
                    <p id='voteNum2'>{{post["downvote"]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
