
<div class="bg-img">
    <app-navigation></app-navigation>
    <br>
    <div  class="row justify-content-center">
        
                <div class="col-md-2">
                    <img src="https://i.imgflip.com/2/3txdnl.jpg" alt="userimage" style="border-radius: 50%;"/>    
                </div>

                <div class="card post-history">
                    <div class="card-body">
                    <div class="col">   
                        <p>{{name}}</p> <!--Username goes here.-->
                        <br>
                        <p>@{{username}}</p>
                    </div>    
                    </div>
                </div>
                <div class="col-md-1"></div>
        <div class="card post-history">
        <div class="card-body">
            <div class="col">
                <p>Posts: {{postNumber}}</p>
                <br>
                <p>Friends: {{friendNumber}}</p>
            </div>
            </div>
        </div>

    </div>
    
    <br>

    <div class="row justify-content-center">
            
        <div class= "col-md-9">
            <div class="card post-history">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="d-flex justify-content-center">Friend List</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let temp of friendList">
                            <div class="col-sm">
                                <td>{{temp[0]}}</td>
                            </div>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class = "card post-history">
                <div class = "card-body">
                    <app-posthistory></app-posthistory>
                </div>
            </div>
        </div>
    </div>

</div>